<form method="POST" action="/users/<%= @user.id %>/comments">
	<legend><strong>Denounce a user's faith</strong></legend>
<p>
Name: <input type="text" name="name" /></p><p>
Comment <input type="text" name="comment" /></p><p>

<input type="submit" value="Comment" />
</p>
</form>