<div>
	Convert now and get a free copy of The Shawshank Redemption!
</div>
<br />
<form method="POST" action="/users">
	<legend><strong>Join our family</strong></legend>
<p>
First name: <input type="text" name="firstname" /></p><p>
Last name: <input type="text" name="lastname" /></p><p>
Social Security: <input type="text" name="socialsecurity" /></p><p>
Do you agree to submit yourself to The Will of Morgan(tm)?<br>
<input type="radio" name="commitment" value="yes">Yes<br>
<input type="radio" name="commitment" value="definitely">Definitely
</p><p>
<input type="submit" value="Join" />
</p>
</form>