
<p>Ciao, Dario!</p>

<p>We're stuck together for few hours.</p>

<%= erb :picture, :layout => false %>
<p class="ben"><%= @name %> loves ice cream.</p>

<button class="dario_button"><a href="/dario"> Go to Dario's secret page</a></button>





