
<p>Join Freemasonism and experience the joy of Shawshank and the majestic grandeur of Penguins</p>


<%= erb :picture, :layout => false %>
<p class="ben"><%= @name %> just joined the Morgan Freemasons</p>

<button class="sign_up_button"><a href="/create-user">Get started now!</a></button>





