<!DOCTYPE>

<html>
<head>

	<title>Dario & Zahid's Special Friendship Making Page</title>

	<link rel="stylesheet" type="text/css" href="style.css" />

</style>

</head>

<body>
	<div class="header">
		<h1 style="color: whiteSmoke;">Maker Leo's first website</h1>
	</div>

	<%=yield %>

	<div class="footer">
	</div>
</body>

</html>