<!DOCTYPE>

<html>
<head>

<style type="text/css">
	body {
		background-image:url(http://coloradoroofingspecialists.co/wp-content/uploads/2011/06/blue-sky-1600.jpg);
	}
	.ben {
		font-size: 12px;
		font-family: verdana;
		color: yellow;
	}

	img {
		height: 300px;
    	width: 200px;
	}




</style>

</head>

<body>
	<h1>Maker Leo's first website</h1>

<%=yield %>

</body>

</html>