<!DOCTYPE>

<html>
<head>

	<title>The Official Morgan Freemason Page</title>

	<link rel="stylesheet" type="text/css" href="style.css" />

</style>

</head>

<body>
	<div class="header">
		<span ><a href="/" style="color: whiteSmoke; font-size: 40px; font-weight: bold; text-align: center; text-decoration: none;">The Holy Church of Morgan Freemason</a></span>
		<ul style="list-style: none;">
			<li><a href="/users" style="color: whiteSmoke; text-decoration: none;">Our family</a>
			</li>
		</ul>
	</div>

	<%=yield %>

	<div class="footer" style="font-size: 10px; color: white;">
		&copy Scientology Corporation LLC
	</div>
</body>

</html>