<!DOCTYPE>

<html>
<head>

	<title>The Official MorganFreemason Page</title>

	<link rel="stylesheet" type="text/css" href="style.css" />

</style>

</head>

<body>
	<div class="header">
		<h1 style="color: whiteSmoke;">Welcome to the Holy Church of Morgan Freemason</h1>
	</div>

	<%=yield %>

	<div class="footer">
	</div>
</body>

</html>