<div class="centre">
  <div id="profile-image">
  </div>
  <div id="profile-info">
    <p>First Name: <%=@user%>
    </p>
    <p>Last Name: <%= @user%></p>
    <p>Special Skill: <%= @user %></p>
  </div>
</div>